* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right,
            rgba(21, 20, 26, 0.8), rgba(12, 4, 58, 0.8)),
            url(./img/animal.jpg);
    background-size: cover;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrapper {
    padding-bottom: 20px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
}

h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 50px;
    color: hsl(54, 100%, 50%);
    padding: 20px;
}

.animal-head {
    height: 100px;
    width: 100px;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key {
    width: 90px;
    height: 105px;
    border: 3px solid #000;
    margin: 5px;
    padding: 10px;
    align-items: center;
    border-radius: 3px;
    background: none;
    outline: none;
}

.key:hover {
    size: 1.1rem;
    border: 3px solid hsl(54, 100%, 50%);
    box-shadow: 0 0 3px hsl(54, 100%, 50%);
}

.key:active {
    box-shadow: 5px 5px 10px hsl(40, 6%, 10%);
    animation: buttonClick 3s ease-in;
}

.pressed {
    border: 3px solid hsl(54, 100%, 50%);
    box-shadow: 5px 5px 10px hsl(40, 6%, 10%);
    animation: buttonClick 3s ease-in;
}

.kbd {
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    font-weight: 500;
    color: #fff;
}

.sound {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: hsl(54, 100%, 50%);
}

.volume__control {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 3vh auto;
    color: #fff;
}

.fas {
    margin: 5px;
}

#autoplay {
    display: block;
    margin: 0 auto;
    background: none;
    padding: 15px;
    margin-bottom: 80px;
    border-radius: 30px;
    border: 2px solid hsl(54, 100%, 50%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: hsl(54, 100%, 50%);
    outline: none;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-text {
    padding: 30px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: hsl(240, 8%, 50%);
}

.link {
    color: hsl(240, 7%, 71%);
    text-decoration: none;
}

.muppet {
    font-size: 12px;
    font-family: 'Henny Penny', cursive;
    color: hsl(54, 100%, 50%);
}

@keyframes buttonClick {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
